<header>
  <style media="screen">
    .userLogin {
      color: #eeeeee
    }
  </style>
  <nav class="navbar navbar-expand-md navbar-light" style="background-color: #393e46;">
    <a class="navbar-brand" href="/" style="color: #eeeeee">Wiki-Maps</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/users/:id" style="color: #eeeeee">My Profile</a>
        <a class="nav-item nav-link" href="/new" style="color: #eeeeee">Create a new map!</a>
      </div>
    </div>
      <a href="/login"><button type="button" class="btn btn-primary" style="margin-right: 20px">Log In</button></a>
      <a href="/register"><button type="button" class="btn btn-info">Register</button></a>
  </nav>
</header>
