<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>Wiki Maps</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/header.css" type="text/css" />
    <link rel="stylesheet" href="/styles/mainPage.css" type="text/css" />


    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body id="site-body">
    <%- include('partials/_header') %>
    <div id="mainPageIntro">
      <h1>Explore maps from around the world!</h1>
    </div>

    <div class="mapRow">
      <div class="mapBox">
        <a href="/maps/:id">
        <div class="backgroundMapImg">
        </div>
        </a>
        <button class="favoriteIcon" type="button" name="button">
          <i class="far fa-star"></i>
        </button>
        <p class="mapDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        <h4 class="mapTitle">Map Title</h4>
      </div>
      <div class="mapBox">
        <a href="/maps/:id">
        <div class="backgroundMapImg">
        </div>
        </a>
        <button class="favoriteIcon" type="button" name="button">
          <i class="far fa-star"></i>
        </button>
        <p class="mapDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        <h4 class="mapTitle">Map Title</h4>
      </div>
    </div>

    <div class="mapRow">
      <div class="mapBox">
        <a href="/maps/:id">
        <div class="backgroundMapImg">
        </div>
        </a>
        <button class="favoriteIcon" type="button" name="button">
          <i class="far fa-star"></i>
        </button>
        <p class="mapDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        <h4 class="mapTitle">Map Title</h4>
      </div>
      <div class="mapBox">
        <a href="/maps/:id">
        <div class="backgroundMapImg">
        </div>
        </a>
        <button class="favoriteIcon" type="button" name="button">
          <i class="far fa-star"></i>
        </button>
        <p class="mapDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        <h4 class="mapTitle">Map Title</h4>
      </div>
    </div>

    <div class="mapRow">
      <div class="mapBox">
        <a href="/maps/:id">
        <div class="backgroundMapImg">
        </div>
        </a>
        <button class="favoriteIcon" type="button" name="button">
          <i class="far fa-star"></i>
        </button>
        <p class="mapDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        <h4 class="mapTitle">Map Title</h4>
      </div>
      <div class="mapBox">
        <a href="/maps/:id">
        <div class="backgroundMapImg">
        </div>
        </a>
        <button class="favoriteIcon" type="button" name="button">
          <i class="far fa-star"></i>
        </button>
        <p class="mapDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        <h4 class="mapTitle">Map Title</h4>
      </div>
    </div>
    <div class="navButtonDiv">
      <button type="button" id="navButton" class="btn btn-dark hidden">Return to Top</button>
    </div>
  </body>
</html>
