<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>Wiki Maps</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/header.css" type="text/css" />
  <link rel="stylesheet" href="/styles/mapsShow.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <!-- <script type="text/javascript" src="/scripts/map.js"></script> -->
</head>

<body id="site-body">
  <%- include('partials/_header') %>
  <div class="titleDiv">
  <h1><%= map.title %></h1>
    <button id="mapsShowStar" class="favoriteIcon" type="button" name="button">
      <i class="far fa-star"></i>
    </button>
  </div>


  <div id="mapDiv">
    <div id="map-container">
    </div>
  </div>
  <div class="buttonContainer">
    <% let editMap = `/maps/${map.id}/edit` %>
  <a href="<%= editMap %>"><button type="button" name="button" class="btn btn-primary">Edit Map</button></a>
  <% let deleteMap = `/maps/${map.id}/delete` %>
    <form method="POST" action='<%= deleteMap %>'><button type="submit" name="button" class = "btn btn-danger">Delete Map</button></form>
  </div>
  <script type="text/javascript">

  if (<% pins %>) {

    const zoomStart = 10;
    const latStart = <% pins[0].latitude %>;
    const lngStart = <% pins[0].longitude %>;

  } else {

    const zoomStart = 1;
    const latStart = 0;
    const lngStart = 0;

    }

    function initMap() {

      const options = {
        zoom: 1,
        center: {
          lat: 0,
          lng: 0
        }
      };
      const map = new google.maps.Map(document.getElementById('map-container'), options);

      // const marker = new google.maps.Marker({
      //   position: {
      //     lat: 49.1959,
      //     lng: -123.1780
      //   },
      //   map: map
      // })
      // const infoWindow = new google.maps.InfoWindow({content: '<h1>Airport</h1>'});
      // marker.addListener('click', function() {
      //   infoWindow.open(map, marker);
      // })
      const addMarker = function(properties) {
        const marker = new google.maps.Marker({
          position: properties.coords,
          map: map
        })
        const infoWindow = new google.maps.InfoWindow({
          content: properties.content
        })
        marker.addListener('click', function() {
          infoWindow.open(map, marker);
        })
      }

      addMarker({
        coords: {
          lat: 49.1959,
          lng: -123.1780
        },
        content: '<div class="pinContent"><h2 class="pinTitle">Pin Title</h2><img class="pinImg" src="https://images.unsplash.com/photo-1541173109020-9c5d8a48e169?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mnx8Y2FmZXxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80" alt="Pin image"><p class="pinDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit isvoluptatevelit</p> <div class="pinButtons"><a href="pins/:id/edit"> <button type="button" name="button" class="btn btn-outline-primary">Edit</button> </a><form method="POST" action="/pins/:id/delete"><button type="submit" name="button" class = "btn btn-outline-danger">Delete</button></form></div>'
      })
    };
  </script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAQ4giylj9RqjZsVyjdOT7gUfk-WINx0yc&callback=initMap"></script>
</body>

</html>
