$brand-color: #98ddca;
$brand-text-color: #393e46;

#navbar {
  background-color: $brand-color;
  .brand-text {
    color: $brand-text-color;
  }
}

#welcomeMsg {
  color: $brand-text-color;
  padding-right: 2rem;
  margin-bottom: 0;
}
