$site-background: lightblue;
$brand-color: #393e46;
$brand-text-color: #eeeeee;

#site-body {
  background-color: $site-background;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-image: url("https://www.transparenttextures.com/patterns/blu-stripes.png");
}

.mapRow {
  padding-top: 2em;
  display: flex;
  justify-content: space-around;
  padding-bottom: 2em;
}

.mapBox {
  width: 30%;
  height: 18em;
  position: relative;
  border: 1px solid black;

  p {
    color: $brand-text-color;
    background-color: $brand-color;
    position: absolute;
    bottom: 0px;
    margin: 0;
    width: 100%;
    text-align: center;
    font-size: 12px;
    opacity: 60%;
    visibility: hidden;
  }
}

.backgroundMapImg {
  background-image: url(https://www.clickinsight.ca/wp-content/uploads/2020/12/Resized-Map.png);
  width: 100%;
  height: 100%;
}

.mapTitle {
  position: absolute;
  top: 8px;
  left: 16px;
  font-size: 18px;
  background-color: $brand-color;
  color: $brand-text-color;
  display: inline;
  padding: 0.5rem;
  opacity: 0.6;

}

h1 {
  padding-top: 2em;
  color: $brand-color;
}

.mapBox:hover {
  p {
    visibility: visible;
  }
  .backgroundMapImg {
    -webkit-filter: blur(5px);
  }
}

.favoriteIcon {
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 18px;
  background-color: $brand-color;
  display: inline;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  opacity: 0.6;
  color: gold;
  outline: none;
}
