$brand-text-color: #eeeeee;
$brand-color: #393e46;

#mainPageIntro {
  height: 25rem;
  background-image: url(https://www.gstatic.com/earth/social/00_generic_facebook-001.jpg);
  background-repeat: no-repeat;
  background-color: black;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid black;

  h1 {
    color: $brand-text-color;
    padding-top: 0;
    font-weight: bold;
  }
}
