$brand-text-color: #393e46;
$brand-color: #393e46;

#mainPageIntro {
  height: 25rem;
  background-image: url(https://assets.weforum.org/article/image/pmIolf_QEv2LMcD5kvQAX5Ux0T4Z3RJ15ar5zXTcN08.jpg);
  background-repeat: no-repeat;
  background-color: black;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid black;

  h1 {
    color: white;
    padding-top: 0;
    font-weight: bold;
  }
}

#siteInstructions {
  color: $brand-text-color;
  margin-top: 3rem;
}
